@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .message {
  @apply bg-orange-400 text-white p-4 rounded-lg w-fit;
  }

  .assistant {
    @apply h-40 w-40 object-contain
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
